<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    .main{
    text-align: center;
    margin-top: 70px;
}
.gphysician{
    display: flex; /* Use flexbox to arrange children */
     /* Space elements evenly */
    padding: 20px;
    background-color:whitesmoke;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    border-radius: 20px;
    margin-left: 24px;
    width: 105%;
}
.gphysician:hover{
    background-color: bisque;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Change box shadow on hover */
    transform: scale(1..5); /* Increase size on hover */
}
.gynae{
    display: flex; /* Use flexbox to arrange children */
     /* Space elements evenly */
    padding: 20px;
    background-color:whitesmoke;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    border-radius: 20px;
    margin-left: 30px;
    width: 105%;
}
.gynae:hover{
    background-color: bisque;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Change box shadow on hover */
    transform: scale(1..5); /* Increase size on hover */
}
.dermatology{
    display: flex; /* Use flexbox to arrange children */
     /* Space elements evenly */
    padding: 20px;
    background-color:whitesmoke;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    border-radius: 20px;
    margin-left: 24px;
    margin-right: 24px;
    width: 105%;
}
.dermatology:hover{
    background-color: bisque;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Change box shadow on hover */
    transform: scale(1..5); /* Increase size on hover */
}
.gppic{
    display: inline;
}
.subcontainer{
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
    margin-right: px;
}
.gpmaintext{
    margin-top: 5px;
}
.linkgp{
    text-decoration: none;
    color:black
}
   </style>
</head>
<body>
    <h1 class = "main">Please select a speciality</h1>
    <div class="container">

     <div class="subcontainer">
        <a href="/login" class = 'linkgp'>
        <div class="gphysician">
                <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
            <div class="gptext">
                <H3>General Physician</H3>
                <p class = "gpmaintext"> Cold,flu,fever,vomiting,infections,<br>headaches or any other general <br>health issues</p>
            </div>
        </div>
        </a>

        <a href="/gynae" class = 'linkgp'>
            <div class="gynae">
                    <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                <div class="gptext">
                    <H3>Gynae & Obs</H3>
                    <p class = "gpmaintext">  Any women's health related issues <br>including pregnancy, menstruation, <br>fertility issues, hormone disorders etc.</p>
                </div>
            </div>
            </a>

            <a href="/login" class = 'linkgp'>
                <div class="dermatology">
                        <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                    <div class="gptext">
                        <H3>Dermatology</H3>
                        <p class = "gpmaintext">Treatment of diseases related to skin,<br> hair and nails and some cosmetic<br> problems.</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="subcontainer">
                <a href="http://localhost:3100/login" class = 'linkgp'>
                    <div class="gphysician">
                            <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                        <div class="gptext">
                            <H3>ENT</H3>
                            <p class = "gpmaintext">Diagnosis,evaluation and treatment <br> of diseases of the ear, nose and throat <br> regions.</p>
                        </div>
                    </div>
                    </a>
    
                    <a href="/login" class = 'linkgp'>
                        <div class="gphysician">
                                <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                            <div class="gptext">
                                <H3>Orthopedics</H3>
                                <p class = "gpmaintext">Bones, muscles, joints, tendons,<br> <br>ligaments.</p>
                            </div>
                        </div>
                        </a>


                        <a href="/login" class = 'linkgp'>
                            <div class="gphysician">
                                    <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                                <div class="gptext">
                                    <H3>Cardiology</H3>
                                    <p class = "gpmaintext">Diagnosis, treatment of congenital <br> heart defects, coronary artery <br> disease, heart failure, and valvular <br> heart disease.</p>
                                </div>
                            </div>
                            </a>
                        </div>

                    
                        <div class="subcontainer">
                            <a href="/login" class = 'linkgp'>
                                <div class="gphysician">
                                        <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                                    <div class="gptext">
                                        <H3>Neurology</H3>
                                        <p class = "gpmaintext">Diagnosis, treatment for disease <br> involving the central and peripheral <br> nervous systems.</p>
                                    </div>
                                </div>
                                </a>
                
                                <a href="/login" class = 'linkgp'>
                                    <div class="gphysician">
                                            <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                                        <div class="gptext">
                                            <H3>Orthopedics</H3>
                                            <p class = "gpmaintext">Bones, muscles, joints, tendons,<br> ligaments.</p>
                                        </div>
                                    </div>
                                    </a>
            
            
                                    <a href="/login" class = 'linkgp'>
                                        <div class="gphysician">
                                                <img height = '100' src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png">
                                            <div class="gptext">
                                                <H3>Cardiology</H3>
                                                <p class = "gpmaintext">Treatment of diseases related to skin,<br> hair and nails and some cosmetic<br> problems.</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
    </div>
    
    
    <!-- <div class="grid grid-cols-1 sm:gap-6 lg:grid-cols-2 2xl:grid-cols-3">
        
        <a href="/speciality/general-physician" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0">
            <div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/1/icon/EJy2QTfS3obDIMrqhjStpgjIxAckPqTihOjxV7u6.png" alt="General Physician" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        General Physician
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Cold, flu, fever, vomiting, infections, headaches or any other general health issues.
      </p></div></div></a><a href="/speciality/gynae-%26-obs?specialities=3" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/3/icon/iprhJxlTlkcOQbc0iuXlTpei40f60x7LZOiGpBzf.png" alt="Gynae &amp; Obs" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Gynae &amp; Obs
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Any women's health related issues including pregnancy, menstruation, fertility issues, hormone disorders etc.
      </p></div></div></a><a href="/speciality/dermatology?specialities=30" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/30/icon/ESUqhyr1GpKgxXzrxKlpAqMPypWTP6n4mbWCOI8W.png" alt="Dermatology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Dermatology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Treatment of diseases related to skin, hair and nails and some cosmetic problems.
      </p></div></div></a><a href="/speciality/internal-medicine?specialities=38" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/38/icon/pCGev8fW6kbMOjzRHv9pu6dfzGCXbwutyYZtF2OO.png" alt="Internal Medicine" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Internal Medicine
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Prevention, diagnosis, and treatment of adults across the spectrum from health to complex illness.
      </p></div></div></a><a href="/speciality/pediatrics?specialities=2" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/2/icon/w8lHO2hWYnkjrNjXcaHsgVRK69XomxNDKJhn5a1j.png" alt="Pediatrics" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Pediatrics
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Any children's health related issues including physical, behavior and mental health.
      </p></div></div></a><a href="/speciality/gastroenterology?specialities=6" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/6/icon/iHX721XYwkx13Ef3HikJ7fXIaDN0E5l4YHe6OBVW.png" alt="Gastroenterology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Gastroenterology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diseases affecting the gastrointestinal tract, which include the organs from mouth into anus, along the alimentary canal...
      </p></div></div></a><a href="/speciality/psychiatry?specialities=21" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/21/icon/yWWt9tkzUq9HrrDb1NE90YpKPZPcm8CnComfvzqN.png" alt="Psychiatry" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Psychiatry
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, prevention, and treatment of mental disorders related to mood, behaviour, cognition, and perceptions.
      </p></div></div></a><a href="/speciality/psychology?specialities=52" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/52/icon/xMquVoJdjRqkNHzHOFBqSDU0dZiWj08itVKUsGX4.png" alt="Psychology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Psychology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Identify and diagnose mental, behavioral, and emotional disorders
      </p></div></div></a><a href="/speciality/orthopedics?specialities=41" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/41/icon/GCg1ic0weej7VjGHnG3jIfSXK3ORGccwCzWK8YJv.png" alt="Orthopedics" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Orthopedics
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Bones, muscles, joints, tendons, ligaments.
      </p></div></div></a><a href="/speciality/nutrition-%26-food-science?specialities=46" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/46/icon/PPm7gcfecBjWDRmgWUfker6Xxf65hd11W5P9FGPE.png" alt="Nutrition &amp; Food Science" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Nutrition &amp; Food Science
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Weight management, Health &amp;amp; wellness, Overall well being.
      </p></div></div></a><a href="/speciality/urology?specialities=23" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/23/icon/QPx6kVGDlo4XXBUTgbynLaINsGdWrP2mTnbOCGtS.png" alt="Urology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Urology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis and treatment of diseases of the male and female urinary-tract system.
      </p></div></div></a><a href="/speciality/ophthalmology?specialities=8" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/8/icon/9wV8sw8LnsZEAKGAG5QQrFhWcaMFS2pNVwqbVFOC.png" alt="Ophthalmology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Ophthalmology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, treatment of eye disorders
      </p></div></div></a><a href="/speciality/ent?specialities=16" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/16/icon/VdlUczrw6Eb8ZFZlN09wJVhphLxDuEDRuZ9rPvEC.png" alt="ENT" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        ENT
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, evaluation and treatment of diseases of the ear, nose and throat regions.
      </p></div></div></a><a href="/speciality/cardiology?specialities=7" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/7/icon/rcnfWwh0oSbSRHkzXbFz8PY1f93EXbkGehmcuE05.png" alt="Cardiology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Cardiology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, treatment of congenital heart defects, coronary artery disease, heart failure, and valvular heart disease.
      </p></div></div></a><a href="/speciality/endocrinology?specialities=11" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/11/icon/bD3DgM42G8patWS7o468h8n0ThLyoc6S8GGvuyZR.png" alt="Endocrinology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Endocrinology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Treatment of diseases related to problems with hormone.
      </p></div></div></a><a href="/speciality/neurology?specialities=4" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/4/icon/YIvidAboz1kXm94Lk1Twlq927jEaUnZ0aQObfJCG.png" alt="Neurology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Neurology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, treatment for disease involving the central and peripheral nervous systems.
      </p></div></div></a><a href="/speciality/dentistry?specialities=9" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/9/icon/g3EE0R7dIyAjVbXkFE5wnlfgPmAxc4ZgWM5LFmuJ.png" alt="Dentistry" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Dentistry
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, management, and treatment of defects and injuries related to the teeth and gums.
      </p></div></div></a><a href="/speciality/general-surgery?specialities=43" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/43/icon/poQFjida4EvMS4uVaRYTHgy7AgzyEqlJH06dWzZd.png" alt="General Surgery" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        General Surgery
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Focuses on abdominal contents including the esophagus, stomach, small intestine, large intestine, liver, pancreas, gallb...
      </p></div></div></a><a href="/speciality/pulmonology?specialities=5" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/5/icon/tXiJ0FqEVHpAMaglKnPFCMOizkxeEFaNfXopMxgt.png" alt="Pulmonology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Pulmonology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, treatment and prevention of diseases affecting the lungs and respiratory tract.
      </p></div></div></a><a href="/speciality/nephrology?specialities=13" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/13/icon/zKd197jWrkSRhHOMK7G5Oo1IVMZMfeTt4Gp1KGDZ.png" alt="Nephrology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Nephrology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, treatment of kidney diseases.
      </p></div></div></a><a href="/speciality/rheumatology?specialities=22" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/22/icon/GxR5w1UzqSroqg4Nbtye4WJK32zrZ0wfl5Xt5zHJ.png" alt="Rheumatology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Rheumatology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis and treatment of arthritis and other diseases of the joints, muscles and bones.
      </p></div></div></a><a href="/speciality/oncology?specialities=35" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/35/icon/UHtvrv0ITQvvIgTxDIAYdjTHHdWhJvAbuCZSEGdM.png" alt="Oncology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Oncology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Oncology is a branch of medicine that deals with the prevention, diagnosis, and treatment of cancer
      </p></div></div></a><a href="/speciality/hematology?specialities=44" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/44/icon/cAnGa3WYYR5UH97plWP2HCUD8kINLlzew9USRuPt.png" alt="Hematology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Hematology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Specialize in diseases of the blood and blood components. These include blood and bone marrow cells.
      </p></div></div></a><a href="/speciality/plastic-surgery?specialities=39" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/39/icon/PycXaVnE3T00FTIX13xgblekQgB7HayjZtmiIgYv.png" alt="Plastic Surgery" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Plastic Surgery
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        A surgical specialty involving the restoration, reconstruction, or alteration of the human body. Reconstructive surgery ...
      </p></div></div></a><a href="/speciality/family-medicine?specialities=55" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/55/icon/W3UrLgw69N3pnrmKq1DVzaRPhKyvCen6LRymmvpa.png" alt="Family Medicine" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Family Medicine
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Continuing and comprehensive health care for the individual and family across all ages, genders, diseases, and parts of ...
      </p></div></div></a><a href="/speciality/neurosurgery?specialities=37" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/37/icon/H7MeCmJGrl1x9IOOXoUtMWfGOYDaWPLs5u8rymyv.png" alt="Neurosurgery" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Neurosurgery
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Prevention, diagnosis, surgical treatment, and rehabilitation of disorders which affect any portion of the nervous syste...
      </p></div></div></a><a href="/speciality/occupational-therapy?specialities=33" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/33/icon/7F2OTwb72B6wY6Z1ZnQiHGudzgOjPSC7hX9BAd73.png" alt="Occupational therapy" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Occupational therapy
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Treatment for diseases related to mental health problems, disabilities, injuries, or impairments.
      </p></div></div></a><a href="/speciality/colorectal-surgery?specialities=42" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/42/icon/1HMAMkwv4GkeUbGI47qQKJdJJ3ERnwDiNWrvGJxf.png" alt="Colorectal Surgery" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Colorectal Surgery
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis and treatment of diseases of the colon, rectum, and anus.
      </p></div></div></a><a href="/speciality/physical-medicine-%26-rehabilitation?specialities=47" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/47/icon/StnpDQMaVeeLtfOyaJGBvz0q4HuXsSBa27kuddHl.png" alt="Physical Medicine &amp; Rehabilitation" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Physical Medicine &amp; Rehabilitation
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Enhance and restore functional ability and quality of life to people with physical impairments or disabilities.
      </p></div></div></a><a href="/speciality/neonatology?specialities=54" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/54/icon/4SWZBuzA3ue9rVB5Y5EWLACqoMWLJvaMT2ct3tx5.png" alt="Neonatology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Neonatology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Medical care of newborn infants, especially the ill or premature newborns.
      </p></div></div></a><a href="/speciality/pediatric-gastroenterology?specialities=51" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/51/icon/05ruOAsFiUBpq79518PX7266VpjeEN35yqaTmToP.png" alt="Pediatric Gastroenterology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Pediatric Gastroenterology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Treating the gastrointestinal tract, liver and pancreas of children from infancy until age eighteen.
      </p></div></div></a><a href="/speciality/pediatric-neurology?specialities=49" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/49/icon/MvrNfPS7JDDLEej2R0JD1oJBryChAQ7JMkmuGUsC.png" alt="Pediatric Neurology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Pediatric Neurology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Neurological disorders of children and adolescents
      </p></div></div></a><a href="/speciality/nuclear-medicine?specialities=48" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/48/icon/gbC1pWAtKgu9f3w1HGbxBNk8HdDr4uaHUdqxVcQT.png" alt="Nuclear Medicine" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Nuclear Medicine
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Specialized area of radiology that uses very small amounts of radioactive materials, or radiopharmaceuticals, to examine...
      </p></div></div></a><a href="/speciality/vascular-surgery?specialities=36" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/36/icon/n3GtNFSZ1pflQiW0P6fbEy4nWa1txT2di6SSk8g8.png" alt="Vascular Surgery" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Vascular Surgery
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Vascular surgery is a surgical subspecialty in which diseases of the vascular system, or arteries, veins and lymphatic c...
      </p></div></div></a><a href="/speciality/herbal-medicine?specialities=31" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/31/icon/dC3WTo46HmtkadXryWkbTSNc9wcYsXX857SbpyWF.png" alt="Herbal Medicine" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Herbal Medicine
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Treatment for the diseases to stimulate innate healing power through the use of such interventions as herbs, diet, and l...
      </p></div></div></a><a href="/speciality/complementary-%26-alternative-medicine?specialities=58" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/58/icon/igHDmXONQQWnum2BMhdZHguSpvaKys2lybZCWDgR.png" alt="Complementary &amp; Alternative&nbsp;Medicine" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Complementary &amp; Alternative&nbsp;Medicine
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Various healing modalities and therapies to re-harmonizing your body on your body’s terms, instead of mainstream&nbsp;treatme...
      </p></div></div></a><a href="/speciality/parasitology?specialities=17" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/17/icon/9WqpnnAcTPo5N3r9F3wzKK6K7THUBBhsHHWoMMto.png" alt="Parasitology" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Parasitology
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, prevention, and treatment of disease caused by parasites, clinical picture and the response produced by human...
      </p></div></div></a><a href="/speciality/podiatry?specialities=20" class="tp-4 tmb-5 overflow-hidden rounded-[10px] bg-white shadow ring-4 ring-blue-500 ring-offset-2 hover:bg-gray-50 hover:no-underline lg:mb-0"><div class="tp-3 space-x-4 lg:flex"><div class="tmb-3 flex h-24 w-full flex-shrink-0 justify-center rounded lg:m-0 lg:w-24"><img src="https://doctime-core-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/specialities/20/icon/qo7DJ3x5fud2Yxm9BXZyU4Woz1TMIpGXtjzNV5Qv.png" alt="Podiatry" class="h-24 w-24 object-cover"></div> <div class="ttext-center lg:text-left"><h3 class="ttext-xl tmb-2 relative font-poppins-bold text-gray-900"><span aria-hidden="true" class="absolute inset-0"></span>
        Podiatry
      </h3> <p class="ttext-sm m-0 font-poppins-regular text-gray-600 lg:pr-8">
        Diagnosis, surgical treatment of disorders of the foot, ankle, and lower extremity.
      </p></div></div></a></div> -->
</body>
</html>